<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NaijaStartupApp</title>
    <meta content="Mannatthemes" name="author">

    <environment include="Development,Staging,Production">
        <!-- App favicon -->
        <link rel="shortcut icon" href="~/assets/images/favicon.ico">
        <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" type="text/css">
        <!-- DataTables -->
        <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <!-- Responsive datatable examples -->
        <link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <!-- App css -->
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="~/css/custom/foundation.min062f.css?pz4wnb" rel="stylesheet" type="text/css">
        <link href="~/css/custom/motion-ui.min062f.css?pz4wnb" rel="stylesheet" type="text/css">
        <link href="~/css/custom/foundation-6-5-1/foundation-icons/foundation-icons062f.css?pz4wnb" rel="stylesheet" type="text/css">
        <link href="~/css/custom/style062f.css?pz4wnb" rel="stylesheet" type="text/css">
        <link href="~/css/custom/zurblk062f.css?pz4wnb" type="text/css">
    </environment>
    <environment exclude="Development,Staging,Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/assets/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
</head>
<body>
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="https://mannatthemes.com/metrica/hospital-vertical/projects/projects-index.html" class="logo">
                <span><img src="~/assets/images/logo-sm.png" alt="logo-small" class="logo-sm"> </span>
                <span>
                    <img src="~/assets/images/logo-dark.png" alt="logo-large" class="logo-lg">
                </span>
            </a>
        </div>
        <!--end logo-->
        <!-- Navbar -->
        <nav class="navbar-custom">
            <ul class="list-unstyled topbar-nav float-right mb-0">
                <li class="hidden-sm">
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript: void(0);">
                            <span>German </span><img src="~/assets/images/flags/germany_flag.jpg" alt="" class="ml-2 float-right" height="14">
                        </a><a class="dropdown-item" href="javascript: void(0);"><span>Italian </span><img src="~/assets/images/flags/italy_flag.jpg" alt="" class="ml-2 float-right" height="14"></a><a class="dropdown-item" href="javascript: void(0);"><span>French </span><img src="~/assets/images/flags/french_flag.jpg" alt="" class="ml-2 float-right" height="14"></a><a class="dropdown-item" href="javascript: void(0);"><span>Spanish </span><img src="~/assets/images/flags/spain_flag.jpg" alt="" class="ml-2 float-right" height="14"></a><a class="dropdown-item" href="javascript: void(0);"><span>Russian </span><img src="~/assets/images/flags/russia_flag.jpg" alt="" class="ml-2 float-right" height="14"></a>
                    </div>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><i class="dripicons-bell noti-icon"></i> <span class="badge badge-danger badge-pill noti-icon-badge">2</span></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        <!-- item-->
                        <h6 class="dropdown-item-text">Notifications (18)</h6>
                        <div class="slimscroll notification-list">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-glass-cocktail"></i></div>
                                <p class="notify-details">Your item is shipped<small class="text-muted">It is a long established fact that a reader will</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                        </div>
                        <!-- All--> <a href="javascript:void(0);" class="dropdown-item text-center text-primary">View all <i class="fi-arrow-right"></i></a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img src="~/assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle"> <span class="ml-1 nav-user-name hidden-sm">lia<i class="mdi mdi-chevron-down"></i></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"  asp-area="" asp-controller="Account" asp-action="LogOff"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                    </div>
                </li>
            </ul>
            <!--end topbar-nav-->
            <ul class="list-unstyled topbar-nav mb-0">
                <li><button class="button-menu-mobile nav-link waves-effect waves-light"><i class="dripicons-menu nav-icon"></i></button></li>
            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->

    <div class="page-wrapper">
        <!-- Left Sidenav -->
        <div class="left-sidenav">
            <div class="main-icon-menu">
                <nav class="nav">
                </nav>
                <!--end nav-->
            </div>
            <!--end main-icon-menu-->
            <div class="main-menu-inner">
                <div class="menu-body slimscroll">
                    <div id="MetricaHospital" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Company</h6>
                        </div>
                        <ul class="nav metismenu">
                            <li></li>
                            <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Dashboard"><i class="dripicons-meter"></i>Dashboard</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-clipboard"></i><span class="w-100">Services</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="my_orders" asp-controller="Dashboard" >My Orders</a></li>
                                    <li><a asp-action="all_companies" asp-controller="Dashboard">Companies</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-trophy"></i><span class="w-100">Payments</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a  asp-action="all_payments" asp-controller="Dashboard">All Payments</a></li>
                                    <li><a  asp-action="payment_invoice" asp-controller="Dashboard">Payment Invoice</a></li>
                                    <li><a  asp-action="cashless_payments" asp-controller="Dashboard">Cashless Payments</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--end nav-->
                    </div>
                    <!-- end Hospital -->
                    <div id="MetricaHospitalStaff" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Staff</h6>
                        </div>
                        <ul class="nav metismenu">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-clipboard"></i><span class="w-100">Staff</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="all_staff" asp-controller="Dashboard">All Staff</a></li>
                                    <li><a asp-action="add_member" asp-controller="Dashboard">Add Member</a></li>
                                    <li><a asp-action="edit_member" asp-controller="Dashboard">Edit Member</a></li>
                                    <li><a asp-action="member_profile" asp-controller="Dashboard">Member Profile</a></li>
                                    <li><a asp-action="salary" asp-controller="Dashboard">Staff Salary</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item"><a class="nav-link" asp-action="leaves" asp-controller="Dashboard"><i class="dripicons-shopping-bag"></i>Leaves</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="holidays" asp-controller="Dashboard"><i class="dripicons-headset"></i>Holidays</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="attendance" asp-controller="Dashboard"><i class="dripicons-checkmark"></i>Attendance</a></li>
                        </ul>
                        <!--end nav-->
                    </div>
                    <!-- end Staff -->
                </div>
                <!--end menu-body-->
            </div>
            <!-- end main-menu-inner-->
        </div>
        <!-- end left-sidenav-->
        <!-- Page Content-->
        @RenderBody()
    </div>

        <environment include="Development,Staging,Production">
            <!-- jQuery  -->
            <script src="~/assets/js/jquery.min.js"></script>
            <script src="~/assets/js/bootstrap.bundle.min.js"></script>
            <script src="~/assets/js/metisMenu.min.js"></script>
            <script src="~/assets/js/waves.min.js"></script>
            <script src="~/assets/js/jquery.slimscroll.min.js"></script>
            <script src="~/assets/plugins/apexcharts/apexcharts.min.js"></script>
            <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
            <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
            <script src="~/assets/pages/jquery.hospital_dashboard.init.js"></script>
            <!-- App js -->
            <script src="~/assets/js/app.js"></script>
        </environment>
        <environment exclude="Development,Staging,Production">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/assets/js/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/assets/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
