<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NaijaStartupApp</title>
    <meta content="Mannatthemes" name="author">

    <environment include="Development">
        <!-- App favicon -->
        <link rel="shortcut icon" href="~/assets/images/favicon.ico">
        <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" type="text/css">
        <!-- DataTables -->
        <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <!-- Responsive datatable examples -->
        <link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <!-- App css -->
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/assets/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
</head>
<body>
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="https://mannatthemes.com/metrica/hospital-vertical/projects/projects-index.html" class="logo">
                <span><img src="~/assets/images/logo-sm.png" alt="logo-small" class="logo-sm"> </span>
                <span>
                    <img src="~/assets/images/logo-dark.png" alt="logo-large" class="logo-lg">
                </span>
            </a>
        </div>
        <!--end logo-->
        <!-- Navbar -->
        <nav class="navbar-custom">
            <ul class="list-unstyled topbar-nav float-right mb-0">
                <li class="hidden-sm">
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript: void(0);">
                            <span>German </span><img src="~/assets/images/flags/germany_flag.jpg" alt="" class="ml-2 float-right" height="14">
                        </a><a class="dropdown-item" href="javascript: void(0);"><span>Italian </span><img src="~/assets/images/flags/italy_flag.jpg" alt="" class="ml-2 float-right" height="14"></a><a class="dropdown-item" href="javascript: void(0);"><span>French </span><img src="~/assets/images/flags/french_flag.jpg" alt="" class="ml-2 float-right" height="14"></a><a class="dropdown-item" href="javascript: void(0);"><span>Spanish </span><img src="~/assets/images/flags/spain_flag.jpg" alt="" class="ml-2 float-right" height="14"></a><a class="dropdown-item" href="javascript: void(0);"><span>Russian </span><img src="~/assets/images/flags/russia_flag.jpg" alt="" class="ml-2 float-right" height="14"></a>
                    </div>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><i class="dripicons-bell noti-icon"></i> <span class="badge badge-danger badge-pill noti-icon-badge">2</span></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        <!-- item-->
                        <h6 class="dropdown-item-text">Notifications (18)</h6>
                        <div class="slimscroll notification-list">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-glass-cocktail"></i></div>
                                <p class="notify-details">Your item is shipped<small class="text-muted">It is a long established fact that a reader will</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
                            </a>
                        </div>
                        <!-- All--> <a href="javascript:void(0);" class="dropdown-item text-center text-primary">View all <i class="fi-arrow-right"></i></a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img src="~/assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle"> <span class="ml-1 nav-user-name hidden-sm">Dr.Amelia<i class="mdi mdi-chevron-down"></i></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"  asp-area="" asp-controller="Account" asp-action="LogOff"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                    </div>
                </li>
            </ul>
            <!--end topbar-nav-->
            <ul class="list-unstyled topbar-nav mb-0">
                <li><button class="button-menu-mobile nav-link waves-effect waves-light"><i class="dripicons-menu nav-icon"></i></button></li>
            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->

    <div class="page-wrapper">
        <!-- Left Sidenav -->
        <div class="left-sidenav">
            <div class="main-icon-menu">
                <nav class="nav">
                    <a href="#MetricaHospital" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="Company">
                        <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 92">
                            <path class="svg-primary" id="XMLID_1197_" d="M90.8,22.9C90.1,22.2,89.1,22,88,22H67V10c0-2.2-2-4-4.2-4H29.2C27,6,25,7.8,25,10v12H4
                           c-2.2,0-4,1.3-4,3.5V82c0,2.2,1.8,4,4,4h84c2.2,S0,4-1.8,4-4l0-56.3C92,24.6,91.6,23.7,90.8,22.9z M33,14h26v8H33V14z M84,78H8V30h76
                           L84,78z" />
                            <path d=" M29.7,53.5c0-1.9,1.6-3.5,3.5-3.5H42v-8.9c0-1.9,1.6-3.5,3.5-3.5s3.5,1.6,3.5,3.5V50h9.8c1.9,0,3.5,1.6,3.5,3.5
                           S60.7,57,58.8,57H49v9.4c0,1.9-1.6,3.5-3.5,3.5S42,68.4,42,66.4V57h-8.8C31.3,57,29.7,55.4,29.7,53.5z" />
                        </svg>
                    </a>
                    <!--end MetricaHospital-->
                    <a href="#MetricaHospitalStaff" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="Hospital Staff">
                        <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path class="svg-primary" d="M239.208 343.937c-17.78 10.103-38.342 15.876-60.255 15.876-21.909 0-42.467-5.771-60.246-15.87C71.544 358.331 42.643 406 32 448h293.912c-10.639-42-39.537-89.683-86.704-104.063zM178.953 120.035c-58.479 0-105.886 47.394-105.886 105.858 0 58.464 47.407 105.857 105.886 105.857s105.886-47.394 105.886-105.857c0-58.464-47.408-105.858-105.886-105.858zm0 186.488c-33.671 0-62.445-22.513-73.997-50.523H252.95c-11.554 28.011-40.326 50.523-73.997 50.523z" />
                            <g>
                                <path d="M322.602 384H480c-10.638-42-39.537-81.691-86.703-96.072-17.781 10.104-38.343 15.873-60.256 15.873-14.823 0-29.024-2.654-42.168-7.49-7.445 12.47-16.927 25.592-27.974 34.906C289.245 341.354 309.146 364 322.602 384zM306.545 200h100.493c-11.554 28-40.327 50.293-73.997 50.293-8.875 0-17.404-1.692-25.375-4.51a128.411 128.411 0 0 1-6.52 25.118c10.066 3.174 20.779 4.862 31.895 4.862 58.479 0 105.886-47.41 105.886-105.872 0-58.465-47.407-105.866-105.886-105.866-37.49 0-70.427 19.703-89.243 49.09C275.607 131.383 298.961 163 306.545 200z" />
                            </g>
                        </svg>
                    </a>
                    <!--end MetricaHospitalStaff-->
                    <a href="#MetricaOthers" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="UI Kit">
                        <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M70.7 164.5l169.2 81.7c4.4 2.1 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c8.9-4.3 8.9-11.3 0-15.6L272.1 67.2c-4.4-2.1-10.3-3.2-16.1-3.2s-11.7 1.1-16.1 3.2L70.7 148.9c-8.9 4.3-8.9 11.3 0 15.6z" />
                            <path class="svg-primary" d="M441.3 248.2s-30.9-14.9-35-16.9-5.2-1.9-9.5.1S272 291.6 272 291.6c-4.5 2.1-10.3 3.2-16.1 3.2s-11.7-1.1-16.1-3.2c0 0-117.3-56.6-122.8-59.3-6-2.9-7.7-2.9-13.1-.3l-33.4 16.1c-8.9 4.3-8.9 11.3 0 15.6l169.2 81.7c4.4 2.1 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c9.1-4.2 9.1-11.2.2-15.5z" />
                            <path d="M441.3 347.5s-30.9-14.9-35-16.9-5.2-1.9-9.5.1S272.1 391 272.1 391c-4.5 2.1-10.3 3.2-16.1 3.2s-11.7-1.1-16.1-3.2c0 0-117.3-56.6-122.8-59.3-6-2.9-7.7-2.9-13.1-.3l-33.4 16.1c-8.9 4.3-8.9 11.3 0 15.6l169.2 81.7c4.4 2.2 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c9-4.3 9-11.3.1-15.6z" />
                        </svg>
                    </a>
                    <!--end MetricaOthers-->
                    <a href="#MetricaPages" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="Pages">
                        <svg class="nav-svg" version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <path d="M462.5,352.3c-1.9-5.5-5.6-11.5-11.4-18.3c-10.2-12-30.8-29.3-54.8-47.2c-2.6-2-6.4-0.8-7.5,2.3l-4.7,13.4
                              c-0.7,2,0,4.3,1.7,5.5c15.9,11.6,35.9,27.9,41.8,35.9c2,2.8-0.5,6.6-3.9,5.8c-10-2.3-29-7.3-44.2-12.8c-8.6-3.1-17.7-6.7-27.2-10.6
                              c16-20.8,24.7-46.3,24.7-72.6c0-32.8-13.2-63.6-37.1-86.4c-22.9-21.9-53.8-34.1-85.7-33.7c-25.7,0.3-50.1,8.4-70.7,23.5
                              c-18.3,13.4-32.2,31.3-40.6,52c-8.3-6-16.1-11.9-23.2-17.6c-13.7-10.9-28.4-22-38.7-34.7c-2.2-2.8,0.9-6.7,4.4-5.9
                              c11.3,2.6,35.4,10.9,56.4,18.9c1.5,0.6,3.2,0.3,4.5-0.8l11.1-10.1c2.4-2.1,1.7-6-1.3-7.2C121,137.4,89.2,128,73.2,128
                              c-11.5,0-19.3,3.5-23.3,10.4c-7.6,13.3,7.1,35.2,45.1,66.8c34.1,28.5,82.6,61.8,136.5,92c87.5,49.1,171.1,81,208,81
                              c11.2,0,18.7-3.1,22.1-9.1C464.4,364.4,464.7,358.7,462.5,352.3z" />
                        <path class="svg-primary" d="M312,354c-29.1-12.8-59.3-26-92.6-44.8c-30.1-16.9-59.4-36.5-84.4-53.6c-1-0.7-2.2-1.1-3.4-1.1c-0.9,0-1.9,0.2-2.8,0.7
                              c-2,1-3.3,3-3.3,5.2c0,1.2-0.1,2.4-0.1,3.5c0,32.1,12.6,62.3,35.5,84.9c22.9,22.7,53.4,35.2,85.8,35.2c23.6,0,46.5-6.7,66.2-19.5
                              c1.9-1.2,2.9-3.3,2.7-5.5C315.5,356.8,314.1,354.9,312,354z" />
                        </g>
                     </svg>
                    </a>
                    <!--end MetricaPages-->
                    <a href="#MetricaAuthentication" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="Authentication">
                        <svg class="nav-svg" version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                        <path class="svg-primary" d="M376,192h-24v-46.7c0-52.7-42-96.5-94.7-97.3c-53.4-0.7-97.3,42.8-97.3,96v48h-24c-22,0-40,18-40,40v192c0,22,18,40,40,40
                              h240c22,0,40-18,40-40V232C416,210,398,192,376,192z M270,316.8v68.8c0,7.5-5.8,14-13.3,14.4c-8,0.4-14.7-6-14.7-14v-69.2
                              c-11.5-5.6-19.1-17.8-17.9-31.7c1.4-15.5,14.1-27.9,29.6-29c18.7-1.3,34.3,13.5,34.3,31.9C288,300.7,280.7,311.6,270,316.8z
                              M324,192H188v-48c0-18.1,7.1-35.1,20-48s29.9-20,48-20s35.1,7.1,48,20s20,29.9,20,48V192z" />
                        </g>
                     </svg>
                    </a>
                    <!--end MetricaAuthentication-->
                </nav>
                <!--end nav-->
            </div>
            <!--end main-icon-menu-->
            <div class="main-menu-inner">
                <div class="menu-body slimscroll">
                    <div id="MetricaHospital" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Company</h6>
                        </div>
                        <ul class="nav metismenu">
                            <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Dashboard"><i class="dripicons-meter"></i>Dashboard</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-clipboard"></i><span class="w-100">Appointments</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="my_orders" asp-controller="Dashboard" >My Orders</a></li>
                                    <li><a asp-action="all_companies" asp-controller="Dashboard">Companies</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-trophy"></i><span class="w-100">Payments</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a  asp-action="all_payments" asp-controller="Dashboard">All Payments</a></li>
                                    <li><a  asp-action="payment_invoice" asp-controller="Dashboard">Payment Invoice</a></li>
                                    <li><a  asp-action="cashless_payments" asp-controller="Dashboard">Cashless Payments</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--end nav-->
                    </div>
                    <!-- end Hospital -->
                    <div id="MetricaHospitalStaff" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Staff</h6>
                        </div>
                        <ul class="nav metismenu">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-clipboard"></i><span class="w-100">Staff</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="all_staff" asp-controller="Dashboard">All Staff</a></li>
                                    <li><a asp-action="add_member" asp-controller="Dashboard">Add Member</a></li>
                                    <li><a asp-action="edit_member" asp-controller="Dashboard">Edit Member</a></li>
                                    <li><a asp-action="member_profile" asp-controller="Dashboard">Member Profile</a></li>
                                    <li><a asp-action="salary" asp-controller="Dashboard">Staff Salary</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item"><a class="nav-link" asp-action="leaves" asp-controller="Dashboard"><i class="dripicons-shopping-bag"></i>Leaves</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="holidays" asp-controller="Dashboard"><i class="dripicons-headset"></i>Holidays</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="attendance" asp-controller="Dashboard"><i class="dripicons-checkmark"></i>Attendance</a></li>
                        </ul>
                        <!--end nav-->
                    </div>
                    <!-- end Staff -->
                    <div id="MetricaOthers" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Others</h6>
                        </div>
                        <ul class="nav metismenu" id="main_menu_side_nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-mail"></i><span class="w-100">Email</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="email_inbox" asp-controller="Others">Inbox</a></li>
                                    <li><a asp-action="email_read" asp-controller="Others">Read Email</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-view-thumb"></i><span class="w-100">UI Elements</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="ui_bootstrap" asp-controller="Others">Bootstrap</a></li>
                                    <li><a asp-action="ui_animation" asp-controller="Others">Animation</a></li>
                                    <li><a asp-action="ui_avatar" asp-controller="Others">Avatar</a></li>
                                    <li><a asp-action="ui_clipboard" asp-controller="Others">Clip Board</a></li>
                                    <li><a asp-action="ui_files" asp-controller="Others">File Manager</a></li>
                                    <li><a asp-action="ui_ribbons" asp-controller="Others">Ribbons</a></li>
                                    <li><a asp-action="ui_dragula" asp-controller="Others"><span>Dragula</span></a></li>
                                    <li><a asp-action="ui_check_radio" asp-controller="Others"><span>Check & Radio</span></a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-anchor"></i><span class="w-100">Advanced UI</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="advanced_rangeslider" asp-controller="Others">Range Slider</a></li>
                                    <li><a asp-action="advanced_sweetalerts" asp-controller="Others">Sweet Alerts</a></li>
                                    <li><a asp-action="advanced_nestable" asp-controller="Others">Nestable List</a></li>
                                    <li><a asp-action="advanced_ratings" asp-controller="Others">Ratings</a></li>
                                    <li><a asp-action="advanced_highlight" asp-controller="Others">Highlight</a></li>
                                    <li><a asp-action="advanced_session" asp-controller="Others">Session Timeout</a></li>
                                    <li><a asp-action="advanced_idle_timer" asp-controller="Others">Idle Timer</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-document"></i><span class="w-100">Forms</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="forms_elements" asp-controller="Others">Basic Elements</a></li>
                                    <li><a asp-action="forms_advanced" asp-controller="Others">Advance Elements</a></li>
                                    <li><a asp-action="forms_validation" asp-controller="Others">Validation</a></li>
                                    <li><a asp-action="forms_wizard" asp-controller="Others">Wizard</a></li>
                                    <li><a asp-action="forms_editors" asp-controller="Others">Editors</a></li>
                                    <li><a asp-action="forms_repeater" asp-controller="Others">Repeater</a></li>
                                    <li><a asp-action="forms_x_editable" asp-controller="Others">X Editable</a></li>
                                    <li><a asp-action="forms_uploads" asp-controller="Others">File Upload</a></li>
                                    <li><a asp-action="forms_img_crop" asp-controller="Others">Image Crop</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-graph-line"></i><span class="w-100">Charts</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="charts_apex" asp-controller="Others">Apex</a></li>
                                    <li><a asp-action="charts_morris" asp-controller="Others">Morris</a></li>
                                    <li><a asp-action="charts_chartist" asp-controller="Others">Chartist</a></li>
                                    <li><a asp-action="charts_flot" asp-controller="Others">Flot</a></li>
                                    <li><a asp-action="charts_peity" asp-controller="Others">Peity</a></li>
                                    <li><a asp-action="charts_chartjs" asp-controller="Others">Chartjs</a></li>
                                    <li><a asp-action="charts_sparkline" asp-controller="Others">Sparkline</a></li>
                                    <li><a asp-action="charts_knob" asp-controller="Others">Jquery Knob</a></li>
                                    <li><a asp-action="charts_justgage" asp-controller="Others">JustGage</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-view-list-large"></i><span class="w-100">Tables</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="tables_basic" asp-controller="Others">Basic</a></li>
                                    <li><a asp-action="tables_datatable" asp-controller="Others">Datatables</a></li>
                                    <li><a asp-action="tables_responsive" asp-controller="Others">Responsive</a></li>
                                    <li><a asp-action="tables_footable" asp-controller="Others">Footable</a></li>
                                    <li><a asp-action="tables_jsgrid" asp-controller="Others">Jsgrid</a></li>
                                    <li><a asp-action="tables_editable" asp-controller="Others">Editable</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-headset"></i><span class="w-100">Icons</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a asp-action="icons_materialdesign" asp-controller="Others">Material Design</a></li>
                                    <li><a asp-action="icons_dripicons" asp-controller="Others">Dripicons</a></li>
                                    <li><a asp-action="icons_fontawesome" asp-controller="Others">Font awesome</a></li>
                                    <li><a asp-action="icons_themify" asp-controller="Others">Themify</a></li>
                                    <li><a asp-action="icons_typicons" asp-controller="Others">Typicons</a></li>
                                    <li><a asp-action="icons_emoji" asp-controller="Others">Emoji <i class="em em-ok_hand"></i></a></li>
                                    <li><a asp-action="icons_svg" asp-controller="Others">SVG</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-map"></i><span class="w-100">Maps</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a  asp-action="maps_google" asp-controller="Others">Google Maps</a></li>
                                    <li><a  asp-action="maps_vector" asp-controller="Others">Vector Maps</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="dripicons-article"></i><span class="w-100">Email Templates</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a  asp-action="email_templates_basic" asp-controller="Others">Basic Action Email</a></li>
                                    <li><a  asp-action="email_templates_alert" asp-controller="Others">Alert Email</a></li>
                                    <li><a  asp-action="email_templates_billing" asp-controller="Others">Billing Email</a></li>
                                </ul>
                            </li>
                            <!--end nav-item-->
                        </ul>
                        <!--end nav-->
                    </div>
                    <!-- end Others -->
                    <div id="MetricaPages" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Pages</h6>
                        </div>
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" asp-action="pages_profile" asp-controller="Pages"><i class="dripicons-user"></i>Profile</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_chat" asp-controller="Pages"><i class="dripicons-conversation"></i>Chat</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_contact_list" asp-controller="Pages"><i class="dripicons-user-id"></i>Contact List</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_tour" asp-controller="Pages"><i class="dripicons-rocket"></i>Tour</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_timeline" asp-controller="Pages"><i class="dripicons-clock"></i>Timeline</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_invoice" asp-controller="Pages"><i class="dripicons-document"></i>Invoice</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_treeview" asp-controller="Pages"><i class="dripicons-network-3"></i>Treeview</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_starter" asp-controller="Pages"><i class="dripicons-clipboard"></i>Starter Page</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_pricing" asp-controller="Pages"><i class="dripicons-article"></i>Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_blogs" asp-controller="Pages"><i class="dripicons-blog"></i>Blogs</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_faq" asp-controller="Pages"><i class="dripicons-question"></i>FAQs</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="pages_gallery" asp-controller="Pages"><i class="dripicons-photo-group"></i>Gallery</a></li>
                        </ul>
                    </div>
                    <!-- end Pages -->
                    <div id="MetricaAuthentication" class="main-icon-menu-pane">
                        <div class="title-box">
                            <h6 class="menu-title">Authentication</h6>
                        </div>
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" asp-action="auth_login" asp-controller="Authentication"><i class="dripicons-enter"></i>Log in</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="auth_register" asp-controller="Authentication"><i class="dripicons-pencil"></i>Register</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="auth_recover" asp-controller="Authentication"><i class="dripicons-clockwise"></i>Recover Password</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="auth_lock_screen" asp-controller="Authentication"><i class="dripicons-lock"></i>Lock Screen</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="auth_404" asp-controller="Authentication"><i class="dripicons-warning"></i>Error 404</a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="auth_500" asp-controller="Authentication"><i class="dripicons-wrong"></i>Error 500</a></li>
                        </ul>
                    </div>
                    <!-- end Authentication-->
                </div>
                <!--end menu-body-->
            </div>
            <!-- end main-menu-inner-->
        </div>
        <!-- end left-sidenav-->
        <!-- Page Content-->
        @RenderBody()
    </div>

        <environment include="Development">
            <!-- jQuery  -->
            <script src="~/assets/js/jquery.min.js"></script>
            <script src="~/assets/js/bootstrap.bundle.min.js"></script>
            <script src="~/assets/js/metisMenu.min.js"></script>
            <script src="~/assets/js/waves.min.js"></script>
            <script src="~/assets/js/jquery.slimscroll.min.js"></script>
            <script src="~/assets/plugins/apexcharts/apexcharts.min.js"></script>
            <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
            <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
            <script src="~/assets/pages/jquery.hospital_dashboard.init.js"></script>
            <!-- App js -->
            <script src="~/assets/js/app.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/assets/js/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/assets/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
