@{
    ViewData["Title"] = "all_appointments";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Appointments</a></li>
                            <li class="breadcrumb-item active">Appointments</li>
                        </ol>
                    </div>
                    <h4 class="page-title">All Appointments</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Appointment</button>
                        <div class="table-responsive">
                            <table id="datatable" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Age</th>
                                        <th>Department</th>
                                        <th>Doctor Name</th>
                                        <th>Appo. Date</th>
                                        <th>Appo. Time</th>
                                        <th>Mobile No</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                    <!--end tr-->
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Donald Gardner</td>
                                        <td>36</td>
                                        <td>Orthopedic</td>
                                        <td><img src="../assets/images/users/user-1.jpg" alt="" class="thumb-sm rounded-circle mr-2">Dr.Thomas Fant</td>
                                        <td>18/07/2019</td>
                                        <td>10:15 am</td>
                                        <td>+123456789</td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>Keith Jacobson</td>
                                        <td>48</td>
                                        <td>Neurology</td>
                                        <td><img src="../assets/images/users/user-4.jpg" alt="" class="thumb-sm rounded-circle mr-2">Dr.Helen White</td>
                                        <td>18/07/2019</td>
                                        <td>11:30 am</td>
                                        <td>+123456789</td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>Greg Crosby</td>
                                        <td>27</td>
                                        <td>Cardiology</td>
                                        <td><img src="../assets/images/users/user-6.jpg" alt="" class="thumb-sm rounded-circle mr-2">Dr.Aretha Garland</td>
                                        <td>19/07/2019</td>
                                        <td>12:30 pm</td>
                                        <td>+123456789</td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>Fred Godina</td>
                                        <td>22</td>
                                        <td>Fizioterapie</td>
                                        <td><img src="../assets/images/users/user-7.jpg" alt="" class="thumb-sm rounded-circle mr-2">Dr.Justin Williams</td>
                                        <td>19/07/2019</td>
                                        <td>02:15 pm</td>
                                        <td>+123456789</td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>Peggy Doe</td>
                                        <td>51</td>
                                        <td>Psychology</td>
                                        <td><img src="../assets/images/users/user-8.jpg" alt="" class="thumb-sm rounded-circle mr-2">Dr.William Gonzalez</td>
                                        <td>20/07/2019</td>
                                        <td>10:45 am</td>
                                        <td>+123456789</td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>Jennifer Doss</td>
                                        <td>18</td>
                                        <td>Gynaecology</td>
                                        <td><img src="../assets/images/users/user-10.jpg" alt="" class="thumb-sm rounded-circle mr-2">Dr.Lea Sanchez</td>
                                        <td>20/07/2019</td>
                                        <td>03:30 pm</td>
                                        <td>+123456789</td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
