
@{
    ViewData["Title"] = "all_doctors";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Doctors</a></li>
                            <li class="breadcrumb-item active">Doctors</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Doctors</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></div><img src="../assets/images/users/user-2.jpg" alt="user" class="rounded-circle mt-n3">
                        <h5 class="mb-1 client-name">Dr.Wendy Keen</h5>
                        <p class="text-muted">MD Orthopedic</p>
                        <p class="text-center font-14">4 years experience in Apollo Hospital</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='doctor-profile.html'">View Profile</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></div><img src="../assets/images/users/user-4.jpg" alt="user" class="rounded-circle mt-n3">
                        <h5 class="mb-1 client-name">Dr.Helen White</h5>
                        <p class="text-muted">MS Cardiology</p>
                        <p class="text-center font-14">3 years experience in Apollo Hospital</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='doctor-profile.html'">View Profile</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></div><img src="../assets/images/users/user-5.jpg" alt="user" class="rounded-circle mt-n3">
                        <h5 class="mb-1 client-name">Dr.Thomas Fant</h5>
                        <p class="text-muted">MD Neurology</p>
                        <p class="text-center font-14">10 years experience in Apollo Hospital</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='doctor-profile.html'">View Profile</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></div><img src="../assets/images/users/user-6.jpg" alt="user" class="rounded-circle mt-n3">
                        <h5 class="mb-1 client-name">Dr.Justin Williams</h5>
                        <p class="text-muted">MS Psychology</p>
                        <p class="text-center font-14">4 years experience in Apollo Hospital</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='doctor-profile.html'">View Profile</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></div><img src="../assets/images/users/user-6.jpg" alt="user" class="rounded-circle mt-n3">
                        <h5 class="mb-1 client-name">Dr.Wendy Keen</h5>
                        <p class="text-muted">MD Orthopedic</p>
                        <p class="text-center font-14">4 years experience in Apollo Hospital</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='doctor-profile.html'">View Profile</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></div><img src="../assets/images/users/user-1.jpg" alt="user" class="rounded-circle mt-n3">
                        <h5 class="mb-1 client-name">Dr.Helen White</h5>
                        <p class="text-muted">MS Cardiology</p>
                        <p class="text-center font-14">3 years experience in Apollo Hospital</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='doctor-profile.html'">View Profile</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></div><img src="../assets/images/users/user-2.jpg" alt="user" class="rounded-circle mt-n3">
                        <h5 class="mb-1 client-name">Dr.Thomas Fant</h5>
                        <p class="text-muted">MD Neurology</p>
                        <p class="text-center font-14">10 years experience in Apollo Hospital</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='doctor-profile.html'">View Profile</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></div><img src="../assets/images/users/user-5.jpg" alt="user" class="rounded-circle mt-n3">
                        <h5 class="mb-1 client-name">Dr.Justin Williams</h5>
                        <p class="text-muted">MS Psychology</p>
                        <p class="text-center font-14">4 years experience in Apollo Hospital</p>
                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='doctor-profile.html'">View Profile</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
