
@{
    ViewData["Title"] = "expenses";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item active">Expenses</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Expenses</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="float-right"><i class="fas fa-dollar-sign bg-soft-danger main-widgets-icon"></i></div>
                        <h4 class="title-text mt-0">Today Expenses</h4>
                        <h3 class="my-3">$500<small>Total</small></h3>
                        <p class="mb-0 text-muted text-truncate">Yesterday Expenses <span class="text-success">$880</span></p>
                    </div>
                    <!--end card-body-->
                    <div class="card-body p-0">
                        <div id="spark1" class="apex-charts"></div>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="float-right"><i class="fas fa-radiation bg-soft-warning main-widgets-icon"></i></div>
                        <h4 class="title-text mt-0">This Week Expenses</h4>
                        <h3 class="my-3">$8800 <small>Total</small></h3>
                        <p class="mb-0 text-muted text-truncate">Last Week Expenses <span class="text-success">$9800</span></p>
                    </div>
                    <!--end card-body-->
                    <div class="card-body p-0">
                        <div id="spark2" class="apex-charts"></div>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-4">
                <div class="card report-card">
                    <div class="card-body">
                        <div class="float-right"><i class="fas fa-apple-alt bg-soft-success main-widgets-icon"></i></div>
                        <h4 class="title-text mt-0">This Month Expenses</h4>
                        <h3 class="my-3">$35000 <small>Total</small></h3>
                        <p class="mb-0 text-muted text-truncate">Last Month Expenses <span class="text-success">$34500</span></p>
                    </div>
                    <!--end card-body-->
                    <div class="card-body p-0">
                        <div id="spark3" class="apex-charts"></div>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Expense</button>
                        <div class="table-responsive">
                            <table id="datatable" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Item</th>
                                        <th>Purchase Date</th>
                                        <th>Purchase From</th>
                                        <th>Amount</th>
                                        <th>Paied By</th>
                                        <th>Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                    <!--end tr-->
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Bunsen Burner</td>
                                        <td>20/07/2019</td>
                                        <td>RoyalPro</td>
                                        <td>$99</td>
                                        <td>Card</td>
                                        <td><span class="badge badge-soft-success">Approved</span></td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>Vortex mixer</td>
                                        <td>22/07/2019</td>
                                        <td>Frozentree</td>
                                        <td>$899</td>
                                        <td>Online</td>
                                        <td><span class="badge badge-soft-warning">Panding</span></td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>Laboratory Centrifuge</td>
                                        <td>28/07/2019</td>
                                        <td>RoyalPro</td>
                                        <td>$1999</td>
                                        <td>Cash</td>
                                        <td><span class="badge badge-soft-success">Approved</span></td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".add-exprnses"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Expense</button>
                        <div class="table-responsive">
                            <table id="datatable" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Month</th>
                                        <th>All Staff lunch</th>
                                        <th>Cleaner Staff Salary</th>
                                        <th>Light Bill</th>
                                        <th>Total This Month</th>
                                        <th>Paied By</th>
                                        <th>Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                    <!--end tr-->
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01/06/2019 to 31/06/2019</td>
                                        <td>$1000</td>
                                        <td>$5000</td>
                                        <td>$2500</td>
                                        <td>$8500</td>
                                        <td>Online</td>
                                        <td><span class="badge badge-soft-success">Approved</span></td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>01/07/2019 to 31/07/2019</td>
                                        <td>$900</td>
                                        <td>$5000</td>
                                        <td>$2800</td>
                                        <td>$8700</td>
                                        <td>Online</td>
                                        <td><span class="badge badge-soft-success">Approved</span></td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>01/08/2019 to 31/08/2019</td>
                                        <td>$1100</td>
                                        <td>$5000</td>
                                        <td>$3000</td>
                                        <td>$9100</td>
                                        <td>Online</td>
                                        <td><span class="badge badge-soft-success">Approved</span></td>
                                        <td class="text-right"><a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
