
@{
    ViewData["Title"] = "holidays";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Staff</a></li>
                            <li class="breadcrumb-item active">Holidays</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Holidays</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-4">
                <img src="https://mannatthemes.com/metrica/hospital-vertical/assets/images/widgets/calendar.svg" alt="" class="img-fluid">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group calendar-event mb-0">
                            <li class="list-group-item align-items-center d-flex">
                                <div class="media">
                                    <img src="../assets/images/widgets/project1.jpg" class="mr-3 thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="media-body align-self-center">
                                        <div class="event-name">
                                            <h3 class="m-0">Internatinal Doctor Day</h3>
                                            <p class="text-muted mb-0">1 July 2019</p>
                                        </div>
                                    </div>
                                    <!--end media body-->
                                </div>
                            </li>
                            <li class="list-group-item align-items-center">
                                <div class="media">
                                    <img src="../assets/images/users/user-5.jpg" class="mr-3 thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="media-body align-self-center">
                                        <div class="event-name">
                                            <h3 class="m-0">Independence day</h3>
                                            <p class="text-muted mb-0">15 August 2019</p>
                                        </div>
                                    </div>
                                    <!--end media body-->
                                </div>
                            </li>
                            <li class="list-group-item align-items-center">
                                <div class="media">
                                    <img src="../assets/images/widgets/project3.jpg" class="mr-3 thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="media-body align-self-center">
                                        <div class="event-name">
                                            <h3 class="m-0">World Car-Free Day</h3>
                                            <p class="text-muted mb-0">22 Sep 2019</p>
                                        </div>
                                    </div>
                                    <!--end media body-->
                                </div>
                            </li>
                            <li class="list-group-item align-items-center">
                                <div class="media">
                                    <img src="../assets/images/users/user-4.jpg" class="mr-3 thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="media-body align-self-center">
                                        <div class="event-name">
                                            <h3 class="m-0">World Mental Health Day</h3>
                                            <p class="text-muted mb-0">10 Oct 2019</p>
                                        </div>
                                    </div>
                                    <!--end media body-->
                                </div>
                            </li>
                            <li class="list-group-item align-items-center">
                                <div class="media">
                                    <img src="../assets/images/widgets/project4.jpg" class="mr-3 thumb-sm align-self-center rounded-circle" alt="...">
                                    <div class="media-body align-self-center">
                                        <div class="event-name">
                                            <h3 class="m-0">World AIDS Day</h3>
                                            <p class="text-muted mb-0">1 December 2019</p>
                                        </div>
                                    </div>
                                    <!--end media body-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar"></div>
                        <div style="clear:both"></div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!-- End row -->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; @DateTime.Now.Year <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by BloydIntelligi</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
