
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Dashboard</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body dash-info-carousel mb-0">
                        <span class="text-success mb-2 d-block">Today Available</span>
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fas fa-cube"></i>&nbsp;
                                Your Active Products/Services
                            </h4>
                            <div class="list-group">
                                <a menuitemname="0" href="/web/clientarea.php?action=productdetails&amp;id=70944" class="list-group-item" id="ClientAreaHomePagePanels-Active_Products_Services-0">
                                    Linux Hosting - Standard Package<br><span class="text-domain">mosakempire.com</span>
                                </a>
                                <a menuitemname="1" href="/web/clientarea.php?action=productdetails&amp;id=64704" class="list-group-item" id="ClientAreaHomePagePanels-Active_Products_Services-1">
                                    Window Hosting - Window2<br><span class="text-domain">politicalaffairsmagazine.com</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!-- end col-->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card hospital-info">
                            <div class="card-body">
                                <h4 class="header-title mt-0 mb-3">Companies</h4>
                                <div class="media">
                                    <div class="data-icon align-self-center"><i class="fas fa-wheelchair rounded-circle text-danger"></i></div>
                                    <div class="media-body ml-3 align-self-center text-right">
                                        <h3 class="mt-0">40</h3>
                                        <p class="text-muted mb-0 text-nowrap">Yesterday 32 App.</p>
                                    </div>
                                    <!--end media body-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-lg-4">
                        <div class="card hospital-info">
                            <div class="card-body">
                                <h4 class="header-title mt-0 mb-3">Tickets</h4>
                                <div class="media">
                                    <div class="data-icon align-self-center"><i class="fas fa-bed rounded-circle text-warning"></i></div>
                                    <div class="media-body ml-3 align-self-center text-right">
                                        <h3 class="mt-0">21</h3>
                                        <p class="text-muted mb-0 text-nowrap">Yesterday 22 Add.</p>
                                    </div>
                                    <!--end media body-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!-- end col-->
                    <div class="col-lg-4">
                        <div class="card hospital-info">
                            <div class="card-body">
                                <h4 class="header-title mt-0 mb-3">Invoice</h4>
                                <div class="media">
                                    <div class="data-icon align-self-center"><i class="fas fa-cut rounded-circle text-success"></i></div>
                                    <div class="media-body ml-3 align-self-center text-right">
                                        <h3 class="mt-0">10</h3>
                                        <p class="text-muted mb-0 text-nowrap">Yesterday 12 Ope.</p>
                                    </div>
                                    <!--end media body-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!-- end col-->
                    <div class="col-sm-5">
                        <div class="ibox float-e-margins">
                            <div class="panel panel-success">
                                <div class="panel-heading">

                                </div>
                                <div class="panel-body">
                                    <label for="searchbox" class="control-label">  Type company name</label><br>
                                    <form name="submitbiz" class="signup-form" action="../confirm" onsubmit="return validateForm()" method="post">
                                        <div class="input-group">

                                            <input type="text" name="search-box" class="form-control searcharea" placeholder="Enter a company name" required="" autocomplete="off">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="submit">Go! </button>
                                            </span>

                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-0 mb-3">Companies Registration Survey</h4>
                        <div class="apexchart-wrapper">
                            <div id="hospital_survey" class="chart-gutters"></div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-0 mb-3">Calendar</h4>
                        <div class="inline dash-calendar"></div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Total Patients</h4>
                        <div class="row">
                            <div class="col-md-4 align-self-center">
                                <div class="text-center">
                                    <div class="icon-info mb-3"><i class="fas fa-procedures bg-soft-info"></i></div>
                                    <h2 class="mt-0 font-weight-bold">1200</h2>
                                    <p class="mb-0 text-muted"><span class="text-success"><i class="mdi mdi-arrow-up"></i>14.5%</span> Up From Last Week</p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-md-8 align-self-center">
                                <div class="apexchart-wrapper">
                                    <div id="patient_dash_report" class="chart-gutters"></div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <h4 class="header-title mt-0 mb-3">Pharmacy Stocks</h4>
                                <div class="apexchart-wrapper">
                                    <div id="dash_medicine" class="apex-charts"></div>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-md-7 align-self-center">
                                <div class="text-center">
                                    <img src="~/assets/images/widgets/weather.png" alt="" height="70">
                                    <h2>32°</h2>
                                    <h4 class="title-text">San Francisco, California</h4>
                                    <p class="text-muted">SUNDAY 25<sup>th</sup> Aug 2019</p>
                                    <button type="button" class="btn btn-sm btn-outline-primary btn-round weather-btn-icon">View Details <i class="mdi mdi-arrow-right"></i></button>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 BloydIntelligi <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by bloydintelligi</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
