
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Dashboard</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-4">
            </div>

        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card">
                    <div class="card-body invoice-head">
                        <div class="wrapper-lg">
                            <div class="text-center">
                                <div class="col-lg-8 col-md-12 center-block">
                                    <div class="onboarding-title text-center">
                                        <h3><b class="ng-binding">Hi, John - Welcome to NaijaStartUp!</b></h3>
                                        <p>
                                            Your business has been activated. The guides below are still available to show you how to use Paystack and to give you a quick
                                            primer on how we can work for your business.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card hospital-info">
                                        <div class="card-body">
                                            <h4 class="header-title mt-0 mb-3">Companies</h4>
                                            <div class="media">
                                                <div class="data-icon align-self-center"><i class="fas fa-wheelchair rounded-circle text-danger"></i></div>
                                                <div class="media-body ml-3 align-self-center text-right">
                                                    <h3 class="mt-0">40</h3>
                                                    <p class="text-muted mb-0 text-nowrap">Yesterday 32 App.</p>
                                                </div>
                                                <!--end media body-->
                                            </div>
                                        </div>
                                        <!--end card-body-->
                                    </div>
                                    <!--end card-->
                                </div>
                                <div class="col-lg-4">
                                    <div class="card hospital-info">
                                        <div class="card-body">
                                            <h4 class="header-title mt-0 mb-3">Tickets</h4>
                                            <div class="media">
                                                <div class="data-icon align-self-center"><i class="fas fa-bed rounded-circle text-warning"></i></div>
                                                <div class="media-body ml-3 align-self-center text-right">
                                                    <h3 class="mt-0">21</h3>
                                                    <p class="text-muted mb-0 text-nowrap">Yesterday 22 Add.</p>
                                                </div>
                                                <!--end media body-->
                                            </div>
                                        </div>
                                        <!--end card-body-->
                                    </div>
                                    <!--end card-->
                                </div>
                                <!-- end col-->
                                <div class="col-lg-4">
                                    <div class="card hospital-info">
                                        <div class="card-body">
                                            <h4 class="header-title mt-0 mb-3">Invoice</h4>
                                            <div class="media">
                                                <div class="data-icon align-self-center"><i class="fas fa-cut rounded-circle text-success"></i></div>
                                                <div class="media-body ml-3 align-self-center text-right">
                                                    <h3 class="mt-0">10</h3>
                                                    <p class="text-muted mb-0 text-nowrap">Yesterday 12 Ope.</p>
                                                </div>
                                                <!--end media body-->
                                            </div>
                                        </div>
                                        <!--end card-body-->
                                    </div>
                                    <!--end card-->
                                </div>
                                <!-- end col-->
                                <div class="col-sm-5">
                                    <div class="ibox float-e-margins">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">

                                            </div>
                                            <div class="panel-body">
                                                <label for="searchbox" class="control-label">  Type company name</label><br>
                                                <form name="submitbiz" class="signup-form" action="../confirm" onsubmit="return validateForm()" method="post">
                                                    <div class="input-group">

                                                        <input type="text" name="search-box" class="form-control searcharea" placeholder="Enter a company name" required="" autocomplete="off">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-success" type="submit">Go! </button>
                                                        </span>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            <!--end col-->
                            <div class="clear"></div>
                        </div><!-- end ngIf: User.is_developer -->

                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
    </div>
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 BloydIntelligi <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by bloydintelligi</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
