

@{
    ViewData["Title"] = "member_profile";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Staff</a></li>
                            <li class="breadcrumb-item active">Member Profile</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Member Profile</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                <div class="media">
                                    <img src="../assets/images/users/user-8.jpg" alt="user" class="rounded-circle thumb-xl mr-3 align-self-center">
                                    <div class="media-body align-self-center">
                                        <h4 class="mt-0">Rosa Dodson</h4>
                                        <p class="mb-0 text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-4 ml-auto">
                                <p><span class="personal-detail-title">Name</span> <span class="personal-detail-info">Rosa Dodson</span></p>
                                <p><span class="personal-detail-title">Join Date</span> <span class="personal-detail-info">09/07/2019</span></p>
                                <p><span class="personal-detail-title">Phone No</span> <span class="personal-detail-info">+1 234 567 890</span></p>
                                <p><span class="personal-detail-title">Address</span> <span class="personal-detail-info">225 Rose Street, Dublin, California</span></p>
                                <p><span class="personal-detail-title">Post</span> <span class="personal-detail-info">Security</span></p>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-0 mb-3">Experience</h4>
                        <div class="slimscroll education-activity">
                            <div class="activity">
                                <i class="mdi mdi-school icon-success"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">University</h6><span class="text-muted">Oct-2009 to Oct-2011</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                        <div><span class="badge badge-soft-secondary">Design</span> <span class="badge badge-soft-secondary">HTML</span> <span class="badge badge-soft-secondary">Css</span></div>
                                    </div>
                                </div><i class="mdi mdi-medal icon-pink"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">Bachelor of Arts</h6><span class="text-muted">Oct-2006 to Oct-209</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                        <div><span class="badge badge-soft-secondary">Python</span> <span class="badge badge-soft-secondary">Django</span></div>
                                    </div>
                                </div><i class="mdi mdi-book-open-page-variant icon-purple"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">Secondary</h6><span class="text-muted">Oct-2003 to Oct-2006</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                    </div>
                                </div><i class="mdi mdi-lead-pencil icon-warning"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">Primary</h6><span class="text-muted">Oct-1996 to Oct-2003</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                    </div>
                                </div>
                            </div>
                            <!--end activity-->
                        </div>
                        <!--end education-activity-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-0 mb-3">My Skills</h4>
                        <div class="row">
                            <div class="col-4"><img src="https://mannatthemes.com/metrica/hospital-vertical/assets/images/widgets/education.svg" alt="" class="img-fluid"></div>
                            <div class="col-8 align-self-center">
                                <p class="skill-detail">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.</p>
                            </div>
                        </div>
                        <div class="skills mt-4">
                            <div class="skill-box">
                                <h4 class="skill-title">Replacement</h4>
                                <div class="progress-line">
                                    <span data-percent="78" style="width: 78%;"><span class="percent-tooltip">78%</span></span>
                                </div>
                            </div>
                            <div class="skill-box">
                                <h4 class="skill-title">Complex Problem Solving</h4>
                                <div class="progress-line">
                                    <span data-percent="90" style="width: 90%;"><span class="percent-tooltip">90%</span></span>
                                </div>
                            </div>
                            <div class="skill-box">
                                <h4 class="skill-title">Patient Care Skills</h4>
                                <div class="progress-line">
                                    <span data-percent="80" style="width: 80%;"><span class="percent-tooltip">80%</span></span>
                                </div>
                            </div>
                            <div class="skill-box">
                                <h4 class="skill-title">Scientific Skills</h4>
                                <div class="progress-line">
                                    <span data-percent="95" style="width: 95%;"><span class="percent-tooltip">95%</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; @DateTime.Now.Year <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by BloydIntelligi</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
