@{
    ViewData["Title"] = "order_review";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Packages</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="grid-container full white-bg block-content-p">
                        <div class="grid-container">
                            <section id="block-zurblk-content" class="block-zurblk-content block block-system block-system-main-block">
                                <form class="sgf-incorporate-form" data-drupal-selector="sgf-incorporate-form" enctype="multipart/form-data" action="/incorporate" method="post" id="sgf-incorporate-form" accept-charset="UTF-8" novalidate="novalidate">
                                    <input autocomplete="off" data-drupal-selector="form-endohvkei8uvnrpcurqt6mjlpdylsmrdnu6ui55lgze" type="hidden" name="form_build_id" value="form-eNdOhVkEi8uvnRPCUrqt6MjlPdYlsmrDNu6UI55LGZE" class="form-endohvkei8uvnrpcurqt6mjlpdylsmrdnu6ui55lgze">

                                    <input data-drupal-selector="edit-sgf-incorporate-form-form-token" type="hidden" name="form_token" value="_Z2TdPJeR6m3AYkf8BUm6mhVATM8kueysyQxYbZPg0Q" class="edit-sgf-incorporate-form-form-token">

                                    <input data-drupal-selector="edit-sgf-incorporate-form" type="hidden" name="form_id" value="sgf_incorporate_form" class="edit-sgf-incorporate-form">
                                    <div class="row sgf-incorporate-page-step-5">
                                        <div class="align-center" id="incorporateContent">
                                            <div class="grid-container full white-bg margin-bottom-3">
                                                <div class="grid-container">
                                                    <div class="grid-x text-center incorporate-process">
                                                        <div class="medium-2 cell"><p class="step-active">1. Company Name</p></div><div class="medium-2 cell padding-horizontal-1"><p class="step-active">2. Packages</p></div><div class="medium-2 cell padding-right-1"><p class="step-active">3. Additional</p></div><div class="medium-1 cell"><p class="step-active">4. Details</p></div><div class="medium-2 cell padding-horizontal-1"><p class="step-active">5. Officers</p></div><div class="medium-1 cell "><p class="step-active">6. Capital</p></div><div class="medium-2 cell padding-left-1"><p class="step-active">7. Review / Payment</p></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tabs-panel is-active" id="capital-tab">
                                                <div class="grid-x grid-padding-x">
                                                    <div id="previewForm">
                                                        <div id="previewPage" class="grid-container full">
                                                            <div class="grid-container">
                                                                <div class="grid-x grid-padding-x align-center">
                                                                    <h2 class="thin-text width-100 text-center margin-bottom-2 rd-color"> REVIEW </h2>
                                                                    <div class="large-12 cell">
                                                                        <div class="table-title">COMPANY DETAILS</div>
                                                                        <table class="hover">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="200">Company Name</td>
                                                                                    <td class="text-bold">DANGOTE PTE. LTD.</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Alternative Company Name</td>
                                                                                    <td colspan="2" class="text-bold">DEMOLAESEYIN VENTURES PTE. LTD.</td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td>SSIC 1</td>
                                                                                    <td class="text-bold">OTHER INFORMATION TECHNOLOGY AND COMPUTER SERVICE ACTIVITIES</td>
                                                                                </tr>


                                                                                <tr>
                                                                                    <td>Financial Year End</td>
                                                                                    <td class="text-bold">
                                                                                        15/09/2020
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Address Line 1</td>
                                                                                    <td class="text-bold">AJOKE SALAKO</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Address Line 2</td>
                                                                                    <td class="text-bold"></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>

                                                                        <div class="grid-x grid-margin-x">
                                                                            <div class="small-12 cell table-title">OFFICER DETAILS</div>
                                                                            <div class="large-6 medium-12 cell">
                                                                                <table class="hover">
                                                                                    <tbody>

                                                                                        <tr>
                                                                                            <th colspan="2" class="text-left"> OFFICER 1 - JOHN ADEMOLA </th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td width="200">Full Name</td>
                                                                                            <td class="text-bold">JOHN ADEMOLA</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Gender</td>
                                                                                            <td colspan="2" class="text-bold">
                                                                                                Male
                                                                                            </td>

                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Position</td>
                                                                                            <td class="text-bold">
                                                                                                Chief Executive Officer, Shareholder
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>ID Number</td>
                                                                                            <td class="text-bold"> 234567890 </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>ID Type</td>
                                                                                            <td class="text-bold">Passport/Others</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Date of Birth</td>
                                                                                            <td class="text-bold">08/05/1993</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Country of Birth</td>
                                                                                            <td class="text-bold">NIGERIA</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Nationality</td>
                                                                                            <td class="text-bold">NIGERIAN</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Address Line 1</td>
                                                                                            <td class="text-bold">KADUNA</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Address Line 2</td>
                                                                                            <td class="text-bold"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Postcode</td>
                                                                                            <td class="text-bold"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Mobile Phone</td>
                                                                                            <td class="text-bold">08134734540</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Work Phone</td>
                                                                                            <td class="text-bold"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Email</td>
                                                                                            <td class="text-bold">crownedprinz@gmail.com</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Proof of ID</td>
                                                                                            <td class="text-bold">
                                                                                                <ul>
                                                                                                </ul>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Proof of Address</td>
                                                                                            <td class="text-bold">
                                                                                                <ul>
                                                                                                </ul>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="large-12 cell">
                                                                        <div class="table-title">CAPITAL DETAILS</div>
                                                                        <table class="hover">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="200">Currency</td>
                                                                                    <td class="text-bold">USD</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="200">Number of Share</td>
                                                                                    <td class="text-bold">100</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="200">Each Share Price</td>
                                                                                    <td class="text-bold">1.2600</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="large-12 cell">
                                                                        <div class="table-title">SHAREHOLDER DETAILS</div>
                                                                        <table class="hover">
                                                                            <thead>
                                                                                <tr class="text-center">
                                                                                    <th width="400">Shareholder Name</th>
                                                                                    <th width="150">Allotted</th>
                                                                                    <th width="100">Date</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>JOHN ADEMOLA</td>
                                                                                    <td class="text-center">100</td>
                                                                                    <td class="text-center">11/10/2019</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="large-12 cell">
                                                                        <div class="table-title">ORDER DETAILS</div>
                                                                        <table class="hover">
                                                                            <thead>
                                                                                <tr class="text-center">
                                                                                    <th width="400">Package Name</th>
                                                                                    <th width="150">Date Issue </th>
                                                                                    <th width="100">Price</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Essential Package</td>
                                                                                    <td class="text-center">11/10/2019</td>
                                                                                    <td class="text-right">S$388.00</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table class="hover">
                                                                            <thead>
                                                                                <tr class="text-center">
                                                                                    <th width="400">Services Name</th>
                                                                                    <th width="150">Date Issue </th>
                                                                                    <th width="100">Price</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Nominee Director (1yr)</td>
                                                                                    <td class="text-center">11/10/2019</td>
                                                                                    <td class="text-right">S$2,400</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table class="hover">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="550" class="semibold">Total</td>
                                                                                    <td width="100" class="semibold text-right">S$2,788</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cell margin-vertical-2">
                                                        <div class="callout light-bg">


                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-term-and-condition js-form-item-term-and-condition">
                                                                <input data-drupal-selector="edit-term-and-condition" type="checkbox" id="edit-term-and-condition" name="term_and_condition" value="1" class="form-checkbox edit-term-and-condition">

                                                                <label for="edit-term-and-condition" class="option">I have read and agree to the <a class="secondary-color previewTerms" data-open="previewTerms" aria-controls="previewTerms" aria-haspopup="true" tabindex="0">Terms and Conditions</a> &amp; <a class="secondary-color previewPolicy" data-open="previewPolicy" aria-controls="previewPolicy" aria-haspopup="true" tabindex="0">Privacy Policy</a></label>
                                                            </div>
                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-data-is-correct js-form-item-data-is-correct">
                                                                <input data-drupal-selector="edit-data-is-correct" type="checkbox" id="edit-data-is-correct" name="data_is_correct" value="1" class="form-checkbox edit-data-is-correct">

                                                                <label for="edit-data-is-correct" class="option">I confirm that data is correct</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cell text-center margin-vertical-2">
                                                        <input class="secondary button js-form-submit form-submit edit-back" data-drupal-selector="edit-back" type="submit" id="edit-back" name="op" value="Back">
                                                        <input class="warning button js-form-submit form-submit edit-save-draft" data-drupal-selector="edit-save-draft" type="submit" id="edit-save-draft" name="op" value="SAVE AS DRAFT">
                                                        <input class="button button--primary js-form-submit form-submit edit-pay" data-drupal-selector="edit-pay" type="submit" id="edit-pay" name="op" value="DONE AND PAY">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>



                            </section>


                        </div>
                    </div>
                    </div>
                    <!--end card-->
                </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
