@{
    ViewData["Title"] = "order_summary";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Packages</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row sgf-incorporate-page-step-3">
                            <div class="align-center" id="incorporateContent">
                                <div class="grid-container full white-bg margin-bottom-3">
                                    <div class="grid-container">
                                        <div class="grid-x text-center incorporate-process">
                                            <div class="medium-2 cell"><p class="step-active">1. Company Name</p></div><div class="medium-2 cell padding-horizontal-1"><p class="step-active">2. Packages</p></div><div class="medium-2 cell padding-right-1"><p class="step-active">3. Additional</p></div><div class="medium-1 cell"><p class="">4. Details</p></div><div class="medium-2 cell padding-horizontal-1"><p class="">5. Officers</p></div><div class="medium-1 cell "><p class="">6. Capital</p></div><div class="medium-2 cell padding-left-1"><p class="">7. Review / Payment</p></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs-panel is-active" id="additionals-tab">
                                    <div class="grid-x grid-padding-x">
                                        <div class="large-8 medium-12 cell">
                                            <h3 class="thin-text text-center">
                                                <span class="incorporate-company-name">DANGOTE</span>
                                                <span class="company-type-tail"> PTE. LTD.</span>
                                                <a href="#" class="small-text text-underline" data-toggle="modal" data-target="#sgf-incorporate-change-company-name-popup" tabindex="0"><i class="far fa-edit"></i> Edit</a>
                                            </h3>

                                            <table class="unstriped hover sgf-incorporate-additional">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center hide" style="border: solid 1px #ccc">
                                                        </th>
                                                        <th class="text-center" style="border: solid 1px #ccc" width="400">
                                                            Add-on Services
                                                        </th>
                                                        <th class="text-center" style="border: solid 1px #ccc" width="100">
                                                            Fee
                                                        </th>
                                                        <th class="text-center" style="border: solid 1px #ccc" width="100">
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td class="hide" style="border: solid 1px #ccc">

                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-addon-service-448 js-form-item-addon-service-448 form-no-label">

                                                                <input data-drupal-selector="edit-addon-service-448" type="checkbox" id="edit-addon-service-448" name="addon_service[448]" value="448" class="form-checkbox edit-addon-service-448">

                                                            </div>

                                                        </td>
                                                        <td style="border: solid 1px #ccc">
                                                            Company Secretary (1yr)<i class="fas fa-info-circle position-relative float-right">
                                                                <span class="my-tip">
                                                                    <p class="text-align-justify">All companies incorporated in Nigerian must fulfill a key requirement of appointing a company secretary who must be a resident of Nigerian.</p>
                                                                </span>
                                                            </i>
                                                        </td>
                                                        <td style="border: solid 1px #ccc" class="text-right">
                                                            S$480
                                                        </td>
                                                        <td data-label="Select" class="text-center sgf-custom-additional" style="border: solid 1px #ccc">
                                                            <div class="switch margin-0 small">
                                                                <input class="switch-input " id="s-0" type="checkbox" name="service-0" value="0">
                                                                <label class="switch-paddle  sgf-choose-service" style="display: inline-block;" for="s-0">
                                                                    <span class="show-for-sr">Add Services</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="hide" style="border: solid 1px #ccc">

                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-addon-service-138 js-form-item-addon-service-138 form-no-label">

                                                                <input data-drupal-selector="edit-addon-service-138" type="checkbox" id="edit-addon-service-138" name="addon_service[138]" value="138" class="form-checkbox edit-addon-service-138">

                                                            </div>

                                                        </td>
                                                        <td style="border: solid 1px #ccc">
                                                            Company Stamp<i class="fas fa-info-circle position-relative float-right">
                                                                <span class="my-tip">
                                                                    <p>A company stamp is optional, but there will be times when it is required, such as when it comes to government documentation, utility or telephone bills and even courier companies which may be require an official company stamp for authorization purposes. Other instances where a company chop may be required include:</p>

                                                                    <ul>
                                                                        <li>Grant applications</li>
                                                                        <li>License application</li>
                                                                        <li>Signing of purchase orders</li>
                                                                        <li>Rental agreements</li>
                                                                        <li>Business contracts</li>
                                                                        <li>Official invoices</li>
                                                                        <li>Statement of accounts</li>
                                                                        <li>Bills of exchange</li>
                                                                        <li>Promissory note</li>
                                                                    </ul>
                                                                </span>
                                                            </i>
                                                        </td>
                                                        <td style="border: solid 1px #ccc" class="text-right">
                                                            S$50
                                                        </td>
                                                        <td data-label="Select" class="text-center sgf-custom-additional" style="border: solid 1px #ccc">
                                                            <div class="switch margin-0 small">
                                                                <input class="switch-input " id="s-1" type="checkbox" name="service-1" value="1">
                                                                <label class="switch-paddle  sgf-choose-service" style="display: inline-block;" for="s-1">
                                                                    <span class="show-for-sr">Add Services</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="hide" style="border: solid 1px #ccc">

                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-addon-service-73 js-form-item-addon-service-73 form-no-label">

                                                                <input data-drupal-selector="edit-addon-service-73" type="checkbox" id="edit-addon-service-73" name="addon_service[73]" value="73" class="form-checkbox edit-addon-service-73">

                                                            </div>

                                                        </td>
                                                        <td style="border: solid 1px #ccc">Filing of Annual Return &amp; AGM (1time)<i class="fas fa-info-circle position-relative float-right"><span class="my-tip">To file the annual return to confirm the particulars of the Company and to file the financial statements, if applicable</span> </i></td>
                                                        <td style="border: solid 1px #ccc" class="text-right">
                                                            S$150
                                                        </td>
                                                        <td data-label="Select" class="text-center sgf-custom-additional" style="border: solid 1px #ccc">
                                                            <div class="switch margin-0 small">
                                                                <input class="switch-input " id="s-2" type="checkbox" name="service-2" value="2">
                                                                <label class="switch-paddle  sgf-choose-service" style="display: inline-block;" for="s-2">
                                                                    <span class="show-for-sr">Add Services</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="hide" style="border: solid 1px #ccc">

                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-addon-service-367 js-form-item-addon-service-367 form-no-label">

                                                                <input data-drupal-selector="edit-addon-service-367" type="checkbox" id="edit-addon-service-367" name="addon_service[367]" value="367" class="form-checkbox edit-addon-service-367">

                                                            </div>

                                                        </td>
                                                        <td style="border: solid 1px #ccc">
                                                            Opening Bank Account<i class="fas fa-info-circle position-relative float-right">
                                                                <span class="my-tip">
                                                                    <p>Choose and open your bank account, our customer relationship managers are here to support you</p>

                                                                    <ul>
                                                                        <li>Support preparing documents for account opening</li>
                                                                        <li>Fill up account opening form</li>
                                                                        <li>Review account opening documents and form&nbsp;</li>
                                                                        <li>Follow up account opening status</li>
                                                                        <li>Arrange the meeting for&nbsp;account opening</li>
                                                                    </ul>

                                                                    <p>&nbsp;</p>

                                                                    <p><strong>*UOB, DBS, MAYBANK</strong></p>

                                                                    <p>
                                                                        <br>
                                                                        <strong>United Overseas Bank Limited Co. / MAYBANK Nigerian LIMITED</strong><br>
                                                                        &nbsp;
                                                                    </p>

                                                                    <ul>
                                                                        <li>Initial Deposit: SGD 2,500</li>
                                                                        <li>Average Time: Preliminary Review: 3-4 Working Days</li>
                                                                        <li>Remarks: SGF Office</li>
                                                                    </ul>

                                                                    <p><strong>DBS Bank Limited</strong></p>

                                                                    <ul>
                                                                        <li>Initial Deposit: SGD 1,000 to 3,000(depends on account feature)</li>
                                                                        <li>Average Time: 3&nbsp;- 4 days</li>
                                                                        <li>Remarks: Personal Visit</li>
                                                                    </ul>
                                                                </span>
                                                            </i>
                                                        </td>
                                                        <td style="border: solid 1px #ccc" class="text-right">
                                                            S$400
                                                        </td>
                                                        <td data-label="Select" class="text-center sgf-custom-additional" style="border: solid 1px #ccc">
                                                            <div class="switch margin-0 small">
                                                                <input class="switch-input " id="s-3" type="checkbox" name="service-3" value="3">
                                                                <label class="switch-paddle  sgf-choose-service" style="display: inline-block;" for="s-3">
                                                                    <span class="show-for-sr">Add Services</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="hide" style="border: solid 1px #ccc">

                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-addon-service-354 js-form-item-addon-service-354 form-no-label">

                                                                <input data-drupal-selector="edit-addon-service-354" type="checkbox" id="edit-addon-service-354" name="addon_service[354]" value="354" class="form-checkbox edit-addon-service-354">

                                                            </div>

                                                        </td>
                                                        <td style="border: solid 1px #ccc">
                                                            Employment Pass Application<i class="fas fa-info-circle position-relative float-right">
                                                                <span class="my-tip">
                                                                    <p>Foreign professionals with a job offer in Nigerian</p>

                                                                    <p>&nbsp;</p>

                                                                    <p>Qualification:</p>

                                                                    <ul>
                                                                        <li>Fixed monthly salary of at least $3,600 (more experienced candidates need higher salaries)</li>
                                                                        <li>Usually a good university degree, professional qualifications or specialist skills</li>
                                                                    </ul>

                                                                    <p>&nbsp;</p>

                                                                    <p>Process:</p>

                                                                    <ul>
                                                                        <li>Once all the necessary documents are received, we check applicant's eligibility (salary, education, current visa status)</li>
                                                                        <li>Process application with correct qualification for each Visa</li>
                                                                        <li>Guide, Explain, and Prepare necessary documents * if Additional Documents are requested by MOM</li>
                                                                        <li>After Visa approval, we inform applicant and get ready for Visa issuance</li>
                                                                        <li>Schedule the MOM Appointment for Visa card registration</li>
                                                                    </ul>
                                                                </span>
                                                            </i>
                                                        </td>
                                                        <td style="border: solid 1px #ccc" class="text-right">
                                                            S$1,400
                                                        </td>
                                                        <td data-label="Select" class="text-center sgf-custom-additional" style="border: solid 1px #ccc">
                                                            <div class="switch margin-0 small">
                                                                <input class="switch-input " id="s-4" type="checkbox" name="service-4" value="4">
                                                                <label class="switch-paddle  sgf-choose-service" style="display: inline-block;" for="s-4">
                                                                    <span class="show-for-sr">Add Services</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="hide" style="border: solid 1px #ccc">

                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-addon-service-375 js-form-item-addon-service-375 form-no-label">

                                                                <input data-drupal-selector="edit-addon-service-375" type="checkbox" id="edit-addon-service-375" name="addon_service[375]" value="375" class="form-checkbox edit-addon-service-375">

                                                            </div>

                                                        </td>
                                                        <td style="border: solid 1px #ccc">
                                                            30 Days XERO (Accounting Software) Trial<i class="fas fa-info-circle position-relative float-right">
                                                                <span class="my-tip">
                                                                    <p>Xero is a cloud-based accounting software for small business owners to manage their financials more efficiently. Users have access to their cash flow in real time from any device so they can work on the go. Xero also offers features that help businesses get paid faster, like quick bank reconciliation and online invoicing.</p>

                                                                    <p>&nbsp;</p>

                                                                    <p>Other benefits of Xero include:</p>

                                                                    <ul>
                                                                        <li>Accessibility for client’s accountant or bookkeeper</li>
                                                                        <li>Robust security, including multiple layers of data security and two-factor authentication</li>
                                                                        <li>Multi-currency functionality</li>
                                                                        <li>All pricing plans support unlimited users</li>
                                                                        <li>Integration with over 700 applications</li>
                                                                    </ul>
                                                                </span>
                                                            </i>
                                                        </td>
                                                        <td style="border: solid 1px #ccc" class="text-right">
                                                            S$0
                                                        </td>
                                                        <td data-label="Select" class="text-center sgf-custom-additional" style="border: solid 1px #ccc">
                                                            <div class="switch margin-0 small">
                                                                <input class="switch-input " id="s-5" type="checkbox" name="service-5" value="5">
                                                                <label class="switch-paddle  sgf-choose-service" style="display: inline-block;" for="s-5">
                                                                    <span class="show-for-sr">Add Services</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="hide" style="border: solid 1px #ccc">

                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-addon-service-147 js-form-item-addon-service-147 form-no-label">

                                                                <input data-drupal-selector="edit-addon-service-147" type="checkbox" id="edit-addon-service-147" name="addon_service[147]" value="147" class="form-checkbox edit-addon-service-147">

                                                            </div>

                                                        </td>
                                                        <td style="border: solid 1px #ccc">Certificate of Incorporation<i class="fas fa-info-circle position-relative float-right"><span class="my-tip">This certificate proves that the company is incorporated under the Companies Act of Nigerian.</span> </i></td>
                                                        <td style="border: solid 1px #ccc" class="text-right">
                                                            S$100
                                                        </td>
                                                        <td data-label="Select" class="text-center sgf-custom-additional" style="border: solid 1px #ccc">
                                                            <div class="switch margin-0 small">
                                                                <input class="switch-input " id="s-6" type="checkbox" name="service-6" value="6">
                                                                <label class="switch-paddle  sgf-choose-service" style="display: inline-block;" for="s-6">
                                                                    <span class="show-for-sr">Add Services</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="hide" style="border: solid 1px #ccc">

                                                            <div class="js-form-item form-item js-form-type-checkbox form-item-addon-service-152 js-form-item-addon-service-152 form-no-label">

                                                                <input data-drupal-selector="edit-addon-service-152" type="checkbox" id="edit-addon-service-152" name="addon_service[152]" value="152" class="form-checkbox edit-addon-service-152">

                                                            </div>

                                                        </td>
                                                        <td style="border: solid 1px #ccc">
                                                            Mail Scanning Services<i class="fas fa-info-circle position-relative float-right">
                                                                <span class="my-tip">
                                                                    <p>Virtual office helps to operate your business more easily and flexibly without office lease and any utility payment. It allows you to choose the types of services to subscribe for. Virtual office services may include mail scanning, call forwarding services and office phone.</p>

                                                                    <p>&nbsp;</p>

                                                                    <p>
                                                                        Mail scanning service included:<br>
                                                                        (a) Provide dedicated local number and E-fax number<br>
                                                                        (b) Mail handling<br>
                                                                        &nbsp; &nbsp; &nbsp; - Mail scanning (every 15th and 30th of the month)<br>
                                                                        &nbsp; &nbsp; &nbsp; - Mail filing and forwarding<br>
                                                                        (c) E-fax forwarding<br>
                                                                        (d) Courier service<br>
                                                                        &nbsp; &nbsp; &nbsp; - Service charge (S$20) is frees
                                                                    </p>

                                                                    <p>&nbsp;</p>

                                                                    <p>
                                                                        <strong>Price: S$1,200 (S$100 per month)</strong><br>
                                                                        &nbsp;
                                                                    </p>
                                                                </span>
                                                            </i>
                                                        </td>
                                                        <td style="border: solid 1px #ccc" class="text-right">
                                                            S$1,200
                                                        </td>
                                                        <td data-label="Select" class="text-center sgf-custom-additional" style="border: solid 1px #ccc">
                                                            <div class="switch margin-0 small">
                                                                <input class="switch-input " id="s-7" type="checkbox" name="service-7" value="7">
                                                                <label class="switch-paddle  sgf-choose-service" style="display: inline-block;" for="s-7">
                                                                    <span class="show-for-sr">Add Services</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><input class="secondary float-left margin-top-2 text-center margin-bottom-1 button js-form-submit form-submit edit-back" data-drupal-selector="edit-back" formnovalidate="formnovalidate" type="submit" id="edit-back" name="op" value="Back">
                                                    <a class="secondary float-right margin-top-2 text-center margin-bottom-1 button button--primary js-form-submit form-submit edit-next" id="edit-next"  asp-area="" asp-controller="Dashboard" asp-action="packages">Next</a>


                                        </div>
                                        <div class="large-4 medium-12 cell billingTable">
                                            <div class="billing-fix">
                                                <h3 class="thin-text text-center">Order Details</h3>
                                                <div class="table-wraped gray-bg width-100">
                                                    <div class="hide">
                                                        <div class="js-form-item form-item js-form-type-textfield form-item-total js-form-item-total">
                                                            <label for="edit-total" class="form-required">Total</label>
                                                            <input data-drupal-selector="edit-total" type="text" id="edit-total" name="total" value="388.00" size="60" maxlength="128" class="form-text required edit-total" required="required" aria-required="true">

                                                        </div>
                                                    </div><table class="gray-bg unstriped">
                                                        <tbody>
                                                            <tr class="package-name p-s-item package-232" data-package-id="232">
                                                                <td width="300" class="semibold title ">
                                                                    Essential Package
                                                                    <a href="#" class="small-text text-underline" data-toggle="modal" data-target="#sgf-incorporate-packages-popup" tabindex="0"><i class="far fa-edit"></i> Edit</a>
                                                                </td>
                                                                <td width="90" class="text-right value">S$388.00</td>
                                                            </tr>
                                                            <tr class="service-name">
                                                                <td colspan="2" class="semibold">Add-on Services</td>
                                                            </tr>
                                                            <tr class="sgf-additional-total-row">
                                                                <td class="semibold">Total Amount</td>
                                                                <td class="semibold text-right total-price">S$388.00</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; @DateTime.Now.Year <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by BloydIntelligi</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
