
@{
    ViewData["Title"] = "salary";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Staff</a></li>
                            <li class="breadcrumb-item active">Salary</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Salary</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Leaves</button>
                        <div class="table-responsive">
                            <table id="datatable" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Member Name</th>
                                        <th>ID</th>
                                        <th>Post</th>
                                        <th>Join Date</th>
                                        <th>Salary</th>
                                        <th>TDS</th>
                                        <th>Net Pay</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                    <!--end tr-->
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="member-profile.html"><img src="../assets/images/users/user-10.jpg" alt="" class="thumb-sm rounded-circle mr-2">Donald Gardner</a>
                                        </td>
                                        <td>#1254</td>
                                        <td>Doctor</td>
                                        <td>8/7/2019</td>
                                        <td>$5000</td>
                                        <td>$50</td>
                                        <td>$4950</td>
                                        <td class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>
                                            <a href="member-profile.html"><img src="../assets/images/users/user-9.jpg" alt="" class="thumb-sm rounded-circle mr-2">Keith Jacobson</a>
                                        </td>
                                        <td>#1254</td>
                                        <td>Doctor</td>
                                        <td>8/7/2019</td>
                                        <td>$5000</td>
                                        <td>$50</td>
                                        <td>$4950</td>
                                        <td class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>
                                            <a href="member-profile.html"><img src="../assets/images/users/user-9.jpg" alt="" class="thumb-sm rounded-circle mr-2">Greg Crosby</a>
                                        </td>
                                        <td>#1254</td>
                                        <td>Doctor</td>
                                        <td>8/7/2019</td>
                                        <td>$5000</td>
                                        <td>$50</td>
                                        <td>$4950</td>
                                        <td class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>
                                            <a href="member-profile.html"><img src="../assets/images/users/user-8.jpg" alt="" class="thumb-sm rounded-circle mr-2">Fred Godina</a>
                                        </td>
                                        <td>#1254</td>
                                        <td>Doctor</td>
                                        <td>8/7/2019</td>
                                        <td>$5000</td>
                                        <td>$50</td>
                                        <td>$4950</td>
                                        <td class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>
                                            <a href="member-profile.html"><img src="../assets/images/users/user-7.jpg" alt="" class="thumb-sm rounded-circle mr-2">Peggy Doe</a>
                                        </td>
                                        <td>#1254</td>
                                        <td>Doctor</td>
                                        <td>8/7/2019</td>
                                        <td>$5000</td>
                                        <td>$50</td>
                                        <td>$4950</td>
                                        <td class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                    <tr>
                                        <td>
                                            <a href="member-profile.html"><img src="../assets/images/users/user-8.jpg" alt="" class="thumb-sm rounded-circle mr-2">Jennifer Doss</a>
                                        </td>
                                        <td>#1254</td>
                                        <td>Doctor</td>
                                        <td>8/7/2019</td>
                                        <td>$5000</td>
                                        <td>$50</td>
                                        <td>$4950</td>
                                        <td class="text-right"><a href="#" class="mr-2" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg2"><i class="fas fa-edit text-info font-16"></i></a> <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a></td>
                                    </tr>
                                    <!--end tr-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
