
@{
    ViewData["Title"] = "pages_blog";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Blogs</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Blogs</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="blog-card">
                            <img src="../assets/images/small/img-1.jpg" alt="" class="img-fluid" />
                            <div class="meta-box">
                                <ul class="p-0 mt-4 list-inline">
                                    <li class="list-inline-item"><span class="badge badge-secondary px-3">Food</span></li>
                                    <li class="list-inline-item">26 mars 2019</li>
                                    <li class="list-inline-item">by <a href="#">admin</a></li>
                                </ul>
                            </div>
                            <!--end meta-box-->
                            <h4 class="mt-2 mb-3"><a href="#">It is a long established fact that a reader will be</a></h4>
                            <p class="text-muted">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.</p><a href="#" class="text-primary">Continue Reading <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <!--end blog-card-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="blog-card">
                            <img src="../assets/images/small/img-7.jpg" alt="" class="img-fluid" />
                            <div class="meta-box">
                                <ul class="p-0 mt-4 list-inline">
                                    <li class="list-inline-item"><span class="badge badge-purple px-3">Interior</span></li>
                                    <li class="list-inline-item">26 mars 2019</li>
                                    <li class="list-inline-item">by <a href="#">admin</a></li>
                                </ul>
                            </div>
                            <!--end meta-box-->
                            <h4 class="mt-2 mb-3"><a href="#">It is a long established fact that a reader will be</a></h4>
                            <p class="text-muted">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.</p><a href="#" class="text-primary">Continue Reading <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <!--end blog-card-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="blog-card">
                            <img src="../assets/images/small/img-6.jpg" alt="" class="img-fluid" />
                            <div class="meta-box">
                                <ul class="p-0 mt-4 list-inline">
                                    <li class="list-inline-item"><span class="badge badge-success px-3">Food</span></li>
                                    <li class="list-inline-item">26 mars 2019</li>
                                    <li class="list-inline-item">by <a href="#">admin</a></li>
                                </ul>
                            </div>
                            <!--end meta-box-->
                            <h4 class="mt-2 mb-3"><a href="#">It is a long established fact that a reader will be</a></h4>
                            <p class="text-muted">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.</p><a href="#" class="text-primary">Continue Reading <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <!--end blog-card-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="blog-card">
                            <img src="../assets/images/small/img-3.jpg" alt="" class="img-fluid" />
                            <div class="meta-box">
                                <ul class="p-0 mt-4 list-inline">
                                    <li class="list-inline-item"><span class="badge badge-pink px-3">adventure</span></li>
                                    <li class="list-inline-item">26 mars 2019</li>
                                    <li class="list-inline-item">by <a href="#">admin</a></li>
                                </ul>
                            </div>
                            <!--end meta-box-->
                            <h4 class="mt-2 mb-3"><a href="#">It is a long established fact that a reader will be</a></h4>
                            <p class="text-muted">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.</p><a href="#" class="text-primary">Continue Reading <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <!--end blog-card-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="blog-card">
                            <img src="../assets/images/small/img-5.jpg" alt="" class="img-fluid" />
                            <div class="meta-box">
                                <ul class="p-0 mt-4 list-inline">
                                    <li class="list-inline-item"><span class="badge badge-primary px-3">Drama</span></li>
                                    <li class="list-inline-item">26 mars 2019</li>
                                    <li class="list-inline-item">by <a href="#">admin</a></li>
                                </ul>
                            </div>
                            <!--end meta-box-->
                            <h4 class="mt-2 mb-3"><a href="#">It is a long established fact that a reader will be</a></h4>
                            <p class="text-muted">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.</p><a href="#" class="text-primary">Continue Reading <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <!--end blog-card-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="blog-card">
                            <img src="../assets/images/small/img-4.jpg" alt="" class="img-fluid" />
                            <div class="meta-box">
                                <ul class="p-0 mt-4 list-inline">
                                    <li class="list-inline-item"><span class="badge badge-warning px-3">Technology</span></li>
                                    <li class="list-inline-item">26 mars 2019</li>
                                    <li class="list-inline-item">by <a href="#">admin</a></li>
                                </ul>
                            </div>
                            <!--end meta-box-->
                            <h4 class="mt-2 mb-3"><a href="#">It is a long established fact that a reader will be</a></h4>
                            <p class="text-muted">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Cum sociis natoque penatibus et magnis.</p><a href="#" class="text-primary">Continue Reading <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <!--end blog-card-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
