
@{
    ViewData["Title"] = "page_contact_list";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Cantacts</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Cantacts</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card profile-card">
                    <div class="card-body p-0">
                        <div class="media p-3 align-items-center">
                            <img src="../assets/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xl" />
                            <div class="media-body ml-3 align-self-center">
                                <h5 class="pro-title">Merri Diamond</h5>
                                <p class="mb-2 text-muted">SaraHopkins.com</p>
                                <ul class="list-inline list-unstyled profile-socials mb-0">
                                    <li class="list-inline-item"><a href="#" class=""><i class="fab fa-facebook-f bg-soft-primary"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class=""><i class="fab fa-twitter bg-soft-secondary"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class=""><i class="fab fa-dribbble bg-soft-pink"></i></a></li>
                                </ul>
                            </div>
                            <div class="action-btn">
                                <button class="mr-1 btn btn-sm btn-soft-info"><i class="fas fa-pen"></i></button>
                                <button class="btn btn-sm btn-soft-danger"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="card profile-card">
                    <div class="card-body p-0">
                        <div class="media p-3 align-items-center">
                            <img src="../assets/images/users/user-5.jpg" alt="user" class="rounded-circle thumb-xl" />
                            <div class="media-body ml-3 align-self-center">
                                <h5 class="pro-title">Paul Schmidt</h5>
                                <p class="mb-2 text-muted">SaraHopkins.com</p>
                                <ul class="list-inline list-unstyled profile-socials mb-0">
                                    <li class="list-inline-item"><a href="#" class=""><i class="fab fa-facebook-f bg-soft-primary"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class=""><i class="fab fa-twitter bg-soft-secondary"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class=""><i class="fab fa-dribbble bg-soft-pink"></i></a></li>
                                </ul>
                            </div>
                            <div class="action-btn">
                                <button class="mr-1 btn btn-sm btn-soft-info"><i class="fas fa-pen"></i></button>
                                <button class="btn btn-sm btn-soft-danger"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4">
                <div class="card profile-card">
                    <div class="card-body p-0">
                        <div class="media p-3 align-items-center">
                            <img src="../assets/images/users/user-8.jpg" alt="user" class="rounded-circle thumb-xl" />
                            <div class="media-body ml-3 align-self-center">
                                <h5 class="pro-title">Harry McCall</h5>
                                <p class="mb-2 text-muted">SaraHopkins.com</p>
                                <button class="mr-1 btn btn-xs btn-secondary px-3 btn-round">Follow</button>
                            </div>
                            <div class="action-btn">
                                <button class="mr-1 btn btn-sm btn-soft-info"><i class="fas fa-pen"></i></button>
                                <button class="btn btn-sm btn-soft-danger"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-3">
                <div class="card client-card">
                    <div class="card-body text-center">
                        <img src="../assets/images/users/user-8.jpg" alt="user" class="rounded-circle thumb-xl" />
                        <h5 class="client-name">Wendy Keen</h5><span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span> <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                        <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                        <button type="button" class="btn btn-sm btn-soft-secondary">Project</button>
                        <button type="button" class="btn btn-sm btn-soft-primary">Message</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card client-card">
                    <div class="card-body text-center">
                        <img src="../assets/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xl" />
                        <h5 class="client-name">Wendy Keen</h5><span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span> <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                        <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                        <button type="button" class="btn btn-sm btn-soft-secondary">Project</button>
                        <button type="button" class="btn btn-sm btn-soft-primary">Message</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card client-card">
                    <div class="card-body text-center">
                        <img src="../assets/images/users/user-5.jpg" alt="user" class="rounded-circle thumb-xl" />
                        <h5 class="client-name">Wendy Keen</h5><span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span> <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                        <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                        <button type="button" class="btn btn-sm btn-soft-secondary">Project</button>
                        <button type="button" class="btn btn-sm btn-soft-primary">Message</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-3">
                <div class="card client-card">
                    <div class="card-body text-center">
                        <img src="../assets/images/users/user-3.jpg" alt="user" class="rounded-circle thumb-xl" />
                        <h5 class="client-name">Wendy Keen</h5><span class="text-muted mr-3"><i class="dripicons-location mr-2 text-info"></i>New York, USA</span> <span class="text-muted"><i class="dripicons-phone mr-2 text-info"></i>+1 123 456 789</span>
                        <p class="text-muted text-center mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                        <button type="button" class="btn btn-sm btn-soft-info">Project</button>
                        <button type="button" class="btn btn-sm btn-soft-primary">Message</button>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
