
@{
    ViewData["Title"] = "pages_timeline";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Timeline</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Timeline</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-0 mb-3">Timeline</h4>
                        <div class="slimscroll activity-scroll">
                            <div class="activity">
                                <i class="mdi mdi-checkbox-marked-circle-outline icon-success"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">Task finished</h6><span class="text-muted">5 minutes ago</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                        <div><span class="badge badge-soft-secondary">Design</span> <span class="badge badge-soft-secondary">HTML</span> <span class="badge badge-soft-secondary">Css</span></div>
                                    </div>
                                </div><i class="mdi mdi-timer-off icon-pink"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">Task Overdue</h6><span class="text-muted">30 minutes ago</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                        <div><span class="badge badge-soft-secondary">Python</span> <span class="badge badge-soft-secondary">Django</span></div>
                                    </div>
                                </div><i class="mdi mdi-alert-decagram icon-purple"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">New Task</h6><span class="text-muted">50 minutes ago</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                    </div>
                                </div><i class="mdi mdi-clipboard-alert icon-warning"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">New Comment</h6><span class="text-muted">1 Day ago</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                    </div>
                                </div><i class="mdi mdi-thumb-up icon-info"></i>
                                <div class="time-item">
                                    <div class="item-info">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="m-0">Project Done</h6><span class="text-muted">2 Day ago</span>
                                        </div>
                                        <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. <a href="#" class="text-info">[more info]</a></p>
                                        <div><span class="badge badge-soft-secondary">Python</span></div>
                                    </div>
                                </div>
                            </div>
                            <!--end activity-->
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-0 mb-3">Timeline</h4>
                        <div class="main-timeline mt-3">
                            <div class="timeline">
                                <span class="timeline-icon"></span> <span class="year">Feb 2019</span>
                                <div class="timeline-content">
                                    <h5 class="title">Highest Account Value</h5><span class="post">14 Feb 2019</span>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.</p>
                                </div>
                            </div>
                            <div class="timeline">
                                <span class="timeline-icon"></span> <span class="year">Jan 2018</span>
                                <div class="timeline-content">
                                    <h5 class="title">Monthly Report</h5><span class="post">26 Jan 2018</span>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.</p>
                                </div>
                            </div>
                            <div class="timeline">
                                <span class="timeline-icon"></span> <span class="year">April 2018</span>
                                <div class="timeline-content">
                                    <h5 class="title">Second Trade</h5><span class="post">1 April 2018</span>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.</p>
                                </div>
                            </div>
                            <div class="timeline">
                                <span class="timeline-icon"></span> <span class="year">Aug 2017</span>
                                <div class="timeline-content">
                                    <h5 class="title">Sign Up</h5><span class="post">15 Aug 2017</span>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.</p>
                                </div>
                            </div>
                            <div class="timeline">
                                <span class="timeline-icon"></span> <span class="year">Dec 2017</span>
                                <div class="timeline-content">
                                    <h5 class="title">First Trade</h5><span class="post">24 Dec 2017</span>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; @DateTime.Now.Year <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by BloydIntelligi</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
